# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# C extensions
*.so
*.o

# Mac
.DS_Store

# Windows
*.obj
*.exp
*.lib
*.dll

# Output files
*.png
*.np[xz]
*.xsf

# Sphinx documentation
doc/sphinx/build/
