
# Include C++ and OpenCL source files in distribution
graft ppafm/cpp
graft ppafm/ocl/cl

# Include default parameter files
graft ppafm/defaults

# Exclude intermediate object files
global-exclude *.o

# Exclude dev sub-module
exclude ppafm/dev/*
