
# Include C++ and OpenCL source files in distribution
graft ppafm/cpp
graft ppafm/ocl/cl

# Exclude intermediate object files
global-exclude *.o

# Include default parameter files
graft ppafm/defaults
